@font-face {
  font-family: samurai;
  src: url("./fonts/SamuraiBlast-YznGj.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-image: url("./assets/backgroundImg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: "samurai";
}
